:root {
  --color-orange: #ff4d3d;
  --color-blue: #4fc3f7;
  --color-gray: #7a8b9b;
  --color-border: #dbe8f2;
  --color-footer-bg: #30373d;
  --color-light-text: white;
  --width: 80%;
  --mobile-width: 92%;
  --max-width: 140rem;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 1rem;
}

img,
video {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* * components */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 1.4rem;
  color: var(--color-blue);
  border: 0.2rem solid var(--color-blue);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.btn.btn--gray {
  color: var(--color-gray);
  border-color: var(--color-border);
}

.btn.btn--orange {
  background-color: var(--color-orange);
  border: 0;
  color: var(--color-light-text);
}

.btn.btn--register {
  background-color: var(--color-light-text);
  border: 0;
  color: var(--color-orange);
  padding: 1.5rem 5rem;
  font-weight: 400;
  line-height: 1;
}

.profile-btn {
  display: flex;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.5rem 1rem;
  }
}

.hero-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-card__img {
  width: 100%;
  aspect-ratio: 14/6;
  object-fit: cover;
}

.hero-card__content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--border-radius) * 2);
  position: absolute;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #00000014;
  left: 10rem;
  top: 10rem;
  bottom: 10rem;
  max-width: 30rem;
  gap: 1rem;
  align-items: flex-start;
}

.hero-card__title {
  margin: 0;
  color: var(--color-light-text);
  font-size: 4rem;
}

.hero-card__text {
  margin: 0;
  color: var(--color-light-text);
}

.hero-card .btn {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .hero-card__img {
    aspect-ratio: 4/3;
  }

  .hero-card__content {
    top: 6rem;
    bottom: auto;
    left: 5rem;
  }

  .hero-card__title {
    font-size: 2rem;
  }

  .hero-card__text {
    display: none;
  }
}

/* * stats card */

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
  gap: 1rem;
}

.stats-card__number {
  margin: 0;
  font-weight: 900;
  font-size: 6rem;
  text-align: left;
  position: relative;
  height: 6.1rem;
}

.stats-card__number > span {
  z-index: 2;
  position: relative;
}

.stats-card__number::before {
  content: "";
  width: 8rem;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  background-color: var(--color-orange);
  border-radius: 50%;
  z-index: 1;
}

.stats-card__title {
  margin: 0;
  text-align: left;
  font-weight: 200;
  line-height: 1.4;
}

/* * form */

.input-material {
  position: relative;
}

.input-material input {
  width: 100%;
  border: 2px solid #c0c0c0;
  border-radius: 0.5rem;

  padding: 1.2rem 2rem;
}

.input-material .label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.input-material .label .text {
  transition: all 0.15s ease-out;
  color: grey;
}

.input-material input:focus {
  outline: none;
  border: 2px solid var(--color-blue);
}

.input-material input:focus + .label .text,
.input-material :not(input[value=""]) + .label .text {
  font-size: 12px;
  transform: translate(0, -115%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.input-material input:focus + .label .text {
  color: var(--color-blue);
}

#form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__row {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.form__col {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 0.5rem;
}

.form__col > p {
  margin: 0;
}
.form__col > .select-city {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#form select {
  width: 100%;
  border: 2px solid #c0c0c0;
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
}

#form .btn {
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .form__row {
    flex-direction: column;
  }
}

/* * header */

#header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.3);
}

#navbar {
  width: var(--width);
  max-width: var(--max-width);
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.logo-link {
  display: flex;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-inline-end: auto;
}

.header-menu a {
  font-size: 1.4rem;
}

.header-menu__more {
  display: flex;
  rotate: 90deg;
  cursor: pointer;
}

.toggle-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar {
    width: 100%;
    padding-inline: 4%;
    gap: 1rem;
    position: relative;
    flex-wrap: wrap;
  }
  .logo-link {
    width: 10rem;
    order: 1;
  }
  .header-menu {
    order: 5;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 10;
    right: 0;
    background-color: white;
    align-items: stretch;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
  }

  .header-menu.open {
    max-height: 50vh;
  }

  .header-menu > li {
    display: flex;
  }

  .header-menu a {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
  }

  #header .btn.btn--gray {
    order: 2;
  }
  #header .btn:last-of-type {
    order: 3;
  }

  .profile-btn {
    display: none;
  }

  .header-menu > li:last-child {
    display: none;
  }

  .toggle-menu {
    display: flex;
    width: 2.5rem;
    aspect-ratio: 1;
    order: 4;
  }
  .toggle-menu > svg {
    fill: var(--color-gray);
  }
}

/* * footer */

#footer {
  background-color: var(--color-footer-bg);
  display: flex;
  padding-block: 7rem;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: var(--width);
  max-width: var(--max-width);
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-title {
  color: var(--color-light-text);
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}

.footer-newsletters__text {
  margin: 0;
  font-size: 1.4rem;
  color: var(--color-gray);
}

.footer-contact__link {
  color: var(--color-gray);
}

.footer-social {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-gray);
}

.footer-social__link {
  width: 2.2rem;
  aspect-ratio: 1;
  display: flex;
}
.footer-social__link > svg {
  width: 100%;
  fill: var(--color-gray);
}

.footer-social__link:first-of-type {
  margin-inline-start: 4rem;
}

.footer-copyright {
  margin: 0;
  color: var(--color-gray);
  direction: ltr;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    width: var(--mobile-width);
  }

  .footer-social__link:first-of-type {
    margin-inline-start: auto;
  }
}

/* ! pages */

/* * home */

.home-hero {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
}

.home-hero-slider .swiper-pagination-bullet {
  width: 6rem;
  height: 0.5rem;
  border-radius: 100rem;
}
.home-hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}

.hero-slider-button-next::after,
.hero-slider-button-prev::after {
  display: none;
}
.hero-slider-button-next > svg,
.hero-slider-button-prev > svg {
  fill: var(--color-light-text);
}
.hero-slider-button-next,
.hero-slider-button-prev {
  width: 2rem;
}

.home-hero-slider .hero-slider-button-next {
  left: 20px;
}
.home-hero-slider .hero-slider-button-prev {
  right: 20px;
}

@media screen and (max-width: 768px) {
  .home-hero {
    width: var(--mobile-width);
  }
}

/* * home stats */

.home-stats {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 3rem;
}

@media screen and (max-width: 768px) {
  .home-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline-end: 10%;
    gap: 2rem;
    width: var(--mobile-width);
  }
}

/* * register row */

.register-row {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-orange);
  padding-block: 2rem;
}

.register-row__wrapper {
  width: var(--width);
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  gap: 2rem;
}
.register-row__line {
  flex: 1 0 0;
  height: 0.3rem;
  border-radius: 10rem;
  background-color: var(--color-light-text);
}

.register-row__text {
  margin: 0;
  color: var(--color-light-text);
}

@media screen and (max-width: 768px) {
  .register-row__wrapper {
    width: var(--mobile-width);
  }
}

/* * home sponsers */

.home-sponsers {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}

.home-sponsers__title {
  margin: 0;
  text-align: center;
}

.home-sponsers__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.home-sponsers__wrapper > img {
  width: 13rem;
}

@media screen and (max-width: 768px) {
  .home-sponsers {
    width: var(--mobile-width);
  }
  .home-sponsers__wrapper {
    flex-wrap: wrap;
  }

  .home-sponsers__wrapper > img {
    width: calc(50% - 1rem);
  }
}

/* * home photos */

.home-photos {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
}

.home-photos > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-photos > img:nth-child(1) {
  grid-area: 1/1/3/5;
}
.home-photos > img:nth-child(2) {
  grid-area: 1/5/3/9;
}
.home-photos > img:nth-child(3) {
  grid-area: 1/9/3/13;
}
.home-photos > img:nth-child(4) {
  grid-area: 3/1/5/3;
}
.home-photos > img:nth-child(5) {
  grid-area: 3/3/5/5;
}
.home-photos > img:nth-child(6) {
  grid-area: 3/5/5/7;
}
.home-photos > img:nth-child(7) {
  grid-area: 3/7/5/9;
}
.home-photos > img:nth-child(8) {
  grid-area: 3/9/5/11;
}
.home-photos > img:nth-child(9) {
  grid-area: 3/11/5/13;
}
.home-photos > img:nth-child(10) {
  grid-area: 5/1/7/4;
}
.home-photos > img:nth-child(11) {
  grid-area: 5/4/7/7;
}
.home-photos > img:nth-child(12) {
  grid-area: 5/7/8/13;
}
.home-photos > img:nth-child(13) {
  grid-area: 7/1/10/7;
}
.home-photos > img:nth-child(14) {
  grid-area: 8/7/10/10;
}
.home-photos > img:nth-child(15) {
  grid-area: 8/10/10/13;
}

@media screen and (max-width: 768px) {
  .home-photos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: var(--mobile-width);
  }

  .home-photos > img {
    grid-area: auto !important;
  }
}

/* * form page */

.form-sec {
  width: 60%;
  max-width: var(--max-width);
  align-self: center;
  padding: 2rem;
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--color-light-text);
  box-shadow: 0 5px 10px -5px #00000063;
  border: 0.1rem solid #efefef;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-sec__title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 900;
  border-bottom: 0.5rem solid var(--color-blue);
  align-self: flex-start;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .form-sec {
    width: var(--mobile-width);
  }
}
