:root {
  --color-orange: #ff4d3d;
  --color-blue: #4fc3f7;
  --color-gray: #7a8b9b;
  --color-border: #dbe8f2;
  --color-footer-bg: #30373d;
  --color-light-text: white;
  --width: 80%;
  --mobile-width: 92%;
  --max-width: 140rem;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 1rem;
}

img,
video {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* * components */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 1.4rem;
  color: var(--color-blue);
  border: 0.2rem solid var(--color-blue);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.btn.btn--gray {
  color: var(--color-gray);
  border-color: var(--color-border);
}

.btn.btn--orange {
  background-color: var(--color-orange);
  border: 0;
  color: var(--color-light-text);
}
.btn.btn--disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.btn.btn--register {
  background-color: var(--color-light-text);
  border: 0;
  color: var(--color-orange);
  padding: 1.5rem 5rem;
  font-weight: 400;
  line-height: 1;
}

.profile-btn {
  display: flex;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.5rem 1rem;
  }
}

/* * hero card */

.hero-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-card__img {
  width: 100%;
  aspect-ratio: 14/6;
  object-fit: cover;
}

.hero-card__content {
  -webkit-backdrop-filter: blur(10px);
  align-items: flex-start;
  backdrop-filter: blur(10px);
  background-color: #00000014;
  border-radius: calc(var(--border-radius) * 2);
  bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 10rem;
  max-width: 30rem;
  padding: 3rem;
  position: absolute;
  top: 10rem;
}

.hero-card__title {
  margin: 0;
  color: var(--color-light-text);
  font-size: 4rem;
}

.hero-card__text {
  margin: 0;
  color: var(--color-light-text);
}

.hero-card .btn {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .hero-card__img {
    aspect-ratio: 4/3;
  }

  .hero-card__content {
    top: 6rem;
    bottom: auto;
    left: 5rem;
  }

  .hero-card__title {
    font-size: 2rem;
  }

  .hero-card__text {
    display: none;
  }
}

/* * box */

.box {
  align-self: center;
  background-color: var(--color-light-text);
  border-radius: var(--border-radius);
  border: 0.1rem solid #efefef;
  box-shadow: 0 5px 10px -5px #00000063;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* * stats card */

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
  gap: 1rem;
}

.stats-card__number {
  margin: 0;
  font-weight: 900;
  font-size: 6rem;
  text-align: left;
  position: relative;
  height: 6.1rem;
}

.stats-card__number > span {
  z-index: 2;
  position: relative;
}

.stats-card__number::before {
  content: "";
  width: 8rem;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  background-color: var(--color-orange);
  border-radius: 50%;
  z-index: 1;
}

.stats-card__title {
  margin: 0;
  text-align: left;
  font-weight: 200;
  line-height: 1.4;
}

/* * form */

.input-material {
  position: relative;
}

.input-material input {
  width: 100%;
  border: 2px solid #c0c0c0;
  border-radius: 0.5rem;

  padding: 1.2rem 2rem;
}

.input-material .label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.input-material .label .text {
  transition: all 0.15s ease-out;
  color: grey;
}

.input-material input:focus {
  outline: none;
  border: 2px solid var(--color-blue);
}

.input-material input:focus + .label .text,
.input-material :not(input[value=""]) + .label .text {
  font-size: 12px;
  transform: translate(0, -115%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.input-material input:focus + .label .text {
  color: var(--color-blue);
}

#form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__row {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.form__col {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 0.5rem;
}

.form__col > p {
  margin: 0;
}
.form__col > .select-city {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#form select {
  width: 100%;
  border: 2px solid #c0c0c0;
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
}

#form .btn {
  align-self: flex-start;
}

.form__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: rgb(203, 203, 203);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.form__avatar-icon {
  width: 3rem;
}

.form__avatar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .form__row {
    flex-direction: column;
  }
}

/* * custom checkbox */

.custom-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";

  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* * video card */

.video-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-card__header {
  display: flex;
  position: relative;
}

.video-card__img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.video-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-card__title {
  display: block;
  font-weight: bold;
}

.video-card__taxonomy {
  color: var(--color-blue);
  font-size: 1.4rem;
}

.video-card__meta {
  margin: 0;
  display: flex;
  font-size: 1.2rem;
  font-weight: 300;
  color: #7a8b9b;
  gap: 1rem;
}
.video-card__meta > span {
  border-inline-end: 1px solid var(--color-gray);
  padding-inline-end: 1rem;
}
.video-card__meta > span:last-child {
  border-inline-end: 0;
  padding-inline-end: 0;
}

/* * collapsible */

.collapsible {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-text);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
}

.collapsible__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.collapsible__title {
  margin: 0;
  font-weight: bold;
}

.collapsible__icon {
  width: 2rem;
  fill: rgb(141, 141, 141);
}

.collapsible__content {
  max-height: 0;
  transition: max-height 0.25s linear;
  overflow: hidden;
}

.collapsible.open .collapsible__content {
  max-height: 25rem;
  overflow-y: auto;
}

/* width */
.collapsible__content::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.collapsible__content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: var(--border-radius);
}

/* Handle */
.collapsible__content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--border-radius);
}

/* Handle on hover */
.collapsible__content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* * box hero */

.box-hero {
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.2);
  background-color: var(--color-light-text);
  padding: 3rem;
  width: 100%;
}

/* * header */

#header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.3);
}

#navbar {
  width: var(--width);
  max-width: var(--max-width);
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.logo-link {
  display: flex;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-inline-end: auto;
}

.header-menu a {
  font-size: 1.4rem;
}

.header-menu__more {
  display: flex;
  rotate: 90deg;
  cursor: pointer;
}

.toggle-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar {
    width: 100%;
    padding-inline: 4%;
    gap: 1rem;
    position: relative;
    flex-wrap: wrap;
  }
  .logo-link {
    width: 10rem;
    order: 1;
  }
  .header-menu {
    order: 5;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 10;
    right: 0;
    background-color: white;
    align-items: stretch;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
  }

  .header-menu.open {
    max-height: 50vh;
  }

  .header-menu > li {
    display: flex;
  }

  .header-menu a {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
  }

  #header .btn.btn--gray {
    order: 2;
  }
  #header .btn:last-of-type {
    order: 3;
  }

  .profile-btn {
    display: none;
  }

  .header-menu > li:last-child {
    display: none;
  }

  .toggle-menu {
    display: flex;
    width: 2.5rem;
    aspect-ratio: 1;
    order: 4;
  }
  .toggle-menu > svg {
    fill: var(--color-gray);
  }
}

/* * footer */

#footer {
  background-color: var(--color-footer-bg);
  display: flex;
  padding-block: 7rem;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: var(--width);
  max-width: var(--max-width);
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-title {
  color: var(--color-light-text);
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}

.footer-newsletters__text {
  margin: 0;
  font-size: 1.4rem;
  color: var(--color-gray);
}

.footer-contact__link {
  color: var(--color-gray);
}

.footer-social {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-gray);
}

.footer-social__link {
  width: 2.2rem;
  aspect-ratio: 1;
  display: flex;
}
.footer-social__link > svg {
  width: 100%;
  fill: var(--color-gray);
}

.footer-social__link:first-of-type {
  margin-inline-start: 4rem;
}

.footer-copyright {
  margin: 0;
  color: var(--color-gray);
  direction: ltr;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    width: var(--mobile-width);
  }

  .footer-social__link:first-of-type {
    margin-inline-start: auto;
  }
}

/* ! pages */

/* * home */

.home-hero {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
}

.home-hero-slider .swiper-pagination-bullet {
  width: 6rem;
  height: 0.5rem;
  border-radius: 100rem;
}
.home-hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}

.hero-slider-button-next::after,
.hero-slider-button-prev::after {
  display: none;
}
.hero-slider-button-next > svg,
.hero-slider-button-prev > svg {
  fill: var(--color-light-text);
}
.hero-slider-button-next,
.hero-slider-button-prev {
  width: 2rem;
}

.home-hero-slider .hero-slider-button-next {
  left: 20px;
}
.home-hero-slider .hero-slider-button-prev {
  right: 20px;
}

@media screen and (max-width: 768px) {
  .home-hero {
    width: var(--mobile-width);
  }
}

/* * home stats */

.home-stats {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 3rem;
}

@media screen and (max-width: 768px) {
  .home-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline-end: 10%;
    gap: 2rem;
    width: var(--mobile-width);
  }
}

/* * register row */

.register-row {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-orange);
  padding-block: 2rem;
}

.register-row__wrapper {
  width: var(--width);
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  gap: 2rem;
}
.register-row__line {
  flex: 1 0 0;
  height: 0.3rem;
  border-radius: 10rem;
  background-color: var(--color-light-text);
}

.register-row__text {
  margin: 0;
  color: var(--color-light-text);
}

@media screen and (max-width: 768px) {
  .register-row__wrapper {
    width: var(--mobile-width);
  }
}

/* * home sponsers */

.home-sponsers {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}

.home-sponsers__title {
  margin: 0;
  text-align: center;
}

.home-sponsers__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.home-sponsers__wrapper > img {
  width: 13rem;
}

@media screen and (max-width: 768px) {
  .home-sponsers {
    width: var(--mobile-width);
  }
  .home-sponsers__wrapper {
    flex-wrap: wrap;
  }

  .home-sponsers__wrapper > img {
    width: calc(50% - 1rem);
  }
}

/* * home photos */

.home-photos {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
}

.home-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-photos > a:nth-child(1) {
  grid-area: 1/1/3/5;
}
.home-photos > a:nth-child(2) {
  grid-area: 1/5/3/9;
}
.home-photos > a:nth-child(3) {
  grid-area: 1/9/3/13;
}
.home-photos > a:nth-child(4) {
  grid-area: 3/1/5/3;
}
.home-photos > a:nth-child(5) {
  grid-area: 3/3/5/5;
}
.home-photos > a:nth-child(6) {
  grid-area: 3/5/5/7;
}
.home-photos > a:nth-child(7) {
  grid-area: 3/7/5/9;
}
.home-photos > a:nth-child(8) {
  grid-area: 3/9/5/11;
}
.home-photos > a:nth-child(9) {
  grid-area: 3/11/5/13;
}
.home-photos > a:nth-child(10) {
  grid-area: 5/1/7/4;
}
.home-photos > a:nth-child(11) {
  grid-area: 5/4/7/7;
}
.home-photos > a:nth-child(12) {
  grid-area: 5/7/8/13;
}
.home-photos > a:nth-child(13) {
  grid-area: 7/1/10/7;
}
.home-photos > a:nth-child(14) {
  grid-area: 8/7/10/10;
}
.home-photos > a:nth-child(15) {
  grid-area: 8/10/10/13;
}

@media screen and (max-width: 768px) {
  .home-photos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: var(--mobile-width);
  }

  .home-photos > img {
    grid-area: auto !important;
  }
}

/* * form page */

.box.form-page {
  width: 60%;
  margin-block: 2rem;
  max-width: var(--max-width);
}

.form-page__title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 900;
  border-bottom: 0.5rem solid var(--color-blue);
  align-self: flex-start;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .form-sec {
    width: var(--mobile-width);
  }
}

/* * login page */

.box.login-sec {
  width: var(--width);
  max-width: var(--max-width);
  flex-direction: row;
  padding: 0;
  gap: 0;
}

.login-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 0;
  padding: 2rem 4rem;
}

.login-col:first-child {
  border-inline-end: 0.1rem solid var(--color-border);
}

.login-col__title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-col__title > span:last-child {
  color: rgba(152, 152, 152, 0.36);
}

#form.login-form > .btn {
  align-self: stretch;
}

.login-form__forget {
  text-align: end;
  color: rgb(114, 114, 114);
}

@media screen and (max-width: 768px) {
  .box.login-sec {
    flex-direction: column;
    width: var(--mobile-width);
  }

  .login-col {
    padding: 1.5rem;
  }

  .login-col:first-child {
    border-inline-end: 0;
    border-block-end: 0.1rem solid var(--color-border);
  }
}

/* * profile page */

.profile-hero__wrapper {
  width: var(--width);
  max-width: var(--max-width);
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.profile-hero__avatar {
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.profile-hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 0;
}

.profile-hero__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-hero__name {
  margin: 0;
  font-weight: 900;
  font-size: 2.4rem;
}

.profile-hero__bio {
  margin: 0;
  color: rgb(121, 121, 121);
}

@media screen and (max-width: 768px) {
  .profile-hero__wrapper {
    width: var(--mobile-width);
    flex-direction: column;
    align-items: center;
  }

  .profile-hero__avatar {
    width: 50%;
  }

  .profile-hero__row {
    flex-direction: column;
    gap: 2rem;
  }
}

/*  * email ver page */

.emailver-sec {
  width: var(--width);
  max-width: var(--max-width);
  padding-block: 3rem;
}

.emailver-text {
  margin: 0;
}

.emailver-sec .btn {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .emailver-sec {
    width: var(--mobile-width);
  }
}

/* * phone ver page */

.phonever-sec {
  width: var(--width);
  max-width: var(--max-width);
  padding-block: 3rem;
  align-items: center;
}

.phonever-sec > p {
  margin: 0;
  text-align: center;
}
.phonever-sec > p > span {
  color: var(--color-blue);
}

.phonever-sec .btn {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .phonever-sec {
    width: var(--mobile-width);
  }
}

/* * archive page */

.archive-title {
  margin: 0;
  font-weight: 900;
  font-size: 2.4rem;
}

.archive-content {
  width: var(--width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  gap: 4rem;
}

.archive-sidebar {
  width: 20%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.archive-filter {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.archive-cards {
  flex: 1 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .archive-content {
    width: var(--mobile-width);
    flex-direction: column;
  }
  .archive-sidebar {
    width: 100%;
  }

  .archive-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
